ul.publications>li::before
{
  content:"";
}

ul.publications
{
	list-style-type: none;
	padding:0;
	position:relative;
}

ul.publications li
{
	margin-left:160px;
}

ul.publications img
{
	position:absolute;
	left:0px;
	float:left;
	width:150px;
}


ul.certifications>li::before
{
  content:"";
}

ul.certifications
{
	list-style-type: none;
	padding:0;
	position:relative;
}

ul.certifications li
{
	margin-left:160px;
}

ul.certifications img
{
	position:absolute;
	left:0px;
	float:left;
	width:150px;
}


ul.awards>li::before
{
  content:"";
}

ul.awards
{
	list-style-type: none;
	padding:0;
	position:relative;
}

ul.awards li
{
	margin-left:160px;
}

ul.awards img
{
	position:absolute;
	left:0px;
	float:left;
	width:150px;
}


ul.education>li::before
{
  content:"";
}

ul.education
{
	list-style-type: none;
	padding:0;
	position:relative;
}

ul.education li
{
	margin-left:160px;
}

ul.education img
{
	position:absolute;
	left:0px;
	float:left;
	width:150px;
}

ul.experience>li::before
{
  content:"";
}

ul.experience
{
	list-style-type: none;
	padding:0;
	position:relative;
}

ul.experience li
{
	margin-left:160px;
}

ul.experience img
{
	position:absolute;
	left:0px;
	float:left;
	width:150px;
}


table.cv
{
	border:none;
}

table.cv td
{
	border-left:none;
	border-right:none;
}
